body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 100%;

	text-align: center;
}

h1 {
	font-weight: 200;
	font-size: 4em;
	clear: both;
}

h3 {
	font-weight: 200;
	font-size: 2em;
}

footer div + div{
	width: 760px;
	height: 5px;
	background-color: black;
	margin-bottom: 20px;
}

.logo {
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer div {
	clear: both;
	height: 20px;
}

header {
	text-align: right;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.header_min{
	min-height: 150px;
}

header form {
	float: right;
}

header input {
	width: 100px;
}

.left {
	float: left;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.button_small{
	font-size: 0.9em;
	padding: 2px;
}

button {
	font-size: 1.2em;
	border: none;
	background-color: #2b406d;
	color: white;
	box-shadow: 2px 2px 2px grey;

	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;

}

button:hover {
	box-shadow: 5px 5px 10px grey;

	-webkit-transition:3s linear;
	transition:1s ease;

/*	background-color: #2b406d;*/

	-webkit-transform:rotate(3deg);
  transform:rotate(3deg);

}

a {
	text-decoration: underline;
	color: black;
	font-weight: 400;
}

a:hover {
	text-decoration: none;
	background-color: black;
	color: white;
}

.info, .reg {
	width: 370px;
}

.reg {
	text-align: right;
	float: right;
}

.info {
	text-align: left;
	float: left;
}

.content {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.colorful {
	color: white;
	padding:2px 5px;
	font-weight: 400;
	font-size: 1.2em;
	background-color: 2b406d;

/*	text-shadow: 2px 2px 10px #2b406d;*/
}


/*
	Formular
*/
.f_select {
	margin-right: 5px;
	margin-left: 5px;
}

.f_100 {
	width: 100px;
}

.f_200 {
	width: 200px;
}

.radio{
	margin: 10px 0;
}

.f_textarea {
	resize:none;
	margin-top: 5px;
	width: 350px;
}

.f_label {
	font-weight: 200;
	margin-top: 5px;
	margin-bottom: 5px;
}

.middle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
}

.error {
	color: red;
}

.flashes{
	height: 20px;
	padding-top: 5px;
}