{% extends "admin/base.html" %}
{% block content %}


<table class="table table-hover">
	<tr>
		<th>ID</th>
		<th>Matched On</th>
		<th>Email send</th>
		<th>ID - PS</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>DOB</th>
		<th>Gender</th>
		<th>Faculty</th>
		<th>Language</th>
		<th>Language</th>
		<th>Language</th>
		<th>Remarks</th>
		<th>Status</th>
		<th>ID - IIS</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>DOB</th>
		<th>Gender</th>
		<th>Faculty</th>
		<th>Language</th>
		<th>Language</th>
		<th>Language</th>
		<th>Remarks</th>
		<th>Status</th>
	</tr>
	{% for m in matchings %}
			{{ m.to_table()|safe }}
	{% endfor %}
</table>

<h2>Emails</h2>
<div>
{{emails}}
</div>


{% endblock %}