{% extends "admin/base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form>
			<input type="checkbox" name="iis" value="iis">Incoming International Students<br>
			<input type="checkbox" name="ps" value="ps">Present Students<br>
			<input type="checkbox" name="matched" value="yes">only matched?<br>
			<input type="checkbox" name="unmatched" value="yes">only unmatched?<br>


			<button class="btn" type="submit">Search</button>
		</form>
	</div>


</div>

{% endblock %}