<!doctype html>

<html>
  <head>
    <meta charset="utf8">
    <title>Buddy Program</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    <link href='static/css/style.css' rel='stylesheet' type='text/css'>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
  </head>
  <body>
    <div>
    <header>
      <div>
        <a href="http://www.ria.stura-md.de">
          <img alt="RIA-Logo" class="left logo" src="./static/img/logo.jpg">
        </a>
      {% if user is defined %}
<!--         <div>Hello, {{user.name}}! <a href="./logout">Logout</a> </div> -->
        <form method="post" action="./logout">
          Hello, {{user.name}}!
          <button type="submit" class="button_small">Logout</button>
        </form>
        <!-- REALLY SUCKS -->


      {% else %}
        <form action="login" method="post">
          <div>
            Email <input type="email" name="email">
          </div>
          <div>
            Password <input type="password" name="password">
          </div>
          <button class="button_big" name="name" value="value" type="submit">Login</button>
        </form>
      {% endif %}


      
        <div class="clear"></div>
      </div>

      <a href="./">
        <img alt="Banner with People" class="banner" src="/static/img/buddy_header.png">
      </a>

    </header>

    <div class="flashes">
      {% for message in get_flashed_messages() %}

        <span>
          {{ message }}
        </span>  

        {% endfor %}
    </div>

    {% block content %}{% endblock %}

    <footer>
      <div id="footer_bugged"></div>
      <div id="footer_line"></div>

      <div>
      <a href="contact.html">Contact</a> |
      <a href="impress.html">Impress</a> |
      <a href="privacy.html">Privacy</a>
      </div>

      <small>Created by <a href="https://twitter.com/rosario_raulin">Rosario Raulin</a> and <a href="https://twitter.com/fil_ter">Johannes Filter</a>.</small>

    </footer>
    </div>
  </body>
</html>