<html>
  <head>
    <meta charset="utf8">
    <title>Buddy Programm</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    <link href='/static/css/style.css' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
  </head>
  <body>
    <header>
      <div class="header_min">
        <!--    <div>
          <a href="">German</a>
          |
          <a href="">English</a>
        </div> -->

      {% if user is defined %}
        <div>Hello, {{user.name}}! <a href="/logout">Logout</a> </div>
        <!-- REALLY SUCKS -->


      {% else %}
        <form action="login" method="post">
          <div>
            Email <input type="email" name="email">
          </div>
          <div>
            Password <input type="password" name="password">
          </div>
          <button name="name" value="value" type="submit">Login</button>
        </form>
      {% endif %}


      
        <div class="clear"></div>
      </div>
      <img src="/static/img/buddy_header.png">
    </header>



    <div class="flashes">
      {% for message in get_flashed_messages() %}
        <span class="colorful">
          {{ message }}
        </span>
        {% endfor %}
    </div>

    {% block content %}{% endblock %}

    <footer>
      <div></div>
    
      <div></div>
      <a href="contact.html">Contact</a> |
      <a href="impress.html">Impress</a> |
      <a href="privacy.html">Privacy</a>
      <br>

      <small>Created by <a href="https://twitter.com/rosario_raulin">Rosario Raulin</a> and <a href="https://twitter.com/fil_ter">Johannes Filter</a>.</small>

      <div class="logo">
        <a href="https://ria.stura-md.de"><img class="left" src="/static/img/ria.png"></a>
        <a href="https://stura-md.de"><img class="right" src="static/img/stura.png"></a>
      </div>

    </footer> 
  </body>
</html>