{% extends "base.html" %}
{% block content %}

<h1>Contact</h1>

<p>Our office is located at Uni Campus: Otto-von-Guericke-Universität Magdeburg Universitätsplatz 2 39106 Magdeburg Building 26 (lecture hall 1), 1st floor.</p>

<p>Facebook:  <a href="http://www.facebook.de/RIAOvGU">www.facebook.de/RIAOvGU</a></p>

<p>Homepage: <a href="http://www.ria.stura-md.de">www.ria.stura-md.de</a></p>

<p>Email: <a href="mailto:contact@buddy-md.de">contact@buddy-md.de</a></p>

<form action="./" method="get">
 	<button class="button_big" type="submit">Back</button>
</form>


{% endblock %}