{% extends "index.html" %}
{% block right %}

<div class="reg">
		<h3>Dashboard</h3>
		<div>
			<div class="margin_top_bot"><span class='colorful'>Your Data</span></div>
			<div>First Name: {{ user.name }}</div>
			<div>Last Name: {{ user.surname }}</div>
			<div>Email: {{ user.email }}</div>
			<div>Date of Bith: {{ user.dob }}</div>
			<div>Gender: {{ user.gender }}</div>
			<div>Faculty: {{ user.faculty }}</div>
			<div>
				Language: {{ user.lang1 if user.lang1 != None }}
				, {{ user.lang2 if user.lang2 != None }}
				, {{ user.lang3 if user.lang3 != None }}
			</div>
			<div>Remarks: {{ user.remarks if user.remarks != None }}</div>
			<div>Status:
				{% if user.status == 'p' %}
					Present Student
				{% else %}
					Incoming Student
				{% endif %}
			</div>
			<br>
			It is not possible to change your data here. Please write us an Email to <a href="mailto:contact@buddy-md.de">contact@buddy-md.de</a> and we will manually change it for you.
		</div>



	<div>
		<div class="margin_top_bot"><span class='colorful'>Your Buddy</span></div>
		{% if buddy %}
			<div>{{buddy.name}} {{buddy.surname}}</div>
			<div>{{buddy.email}}</div>
		{% else %}
			You do not have a buddy yet.
		{% endif %}
	</div>
	<div class="clear"></div>

</div>

{% endblock %}