{% extends "index.html" %}
{% block right %}

<div class="reg">
		<h3>Register</h3>
		<div class="margin_top_bot"><span class="colorful">Please Fill In The Form</span></div>
		<form id="f_reg" action="register" method="post">
			<label>Email</label> <input type="email" name="email" id="email"> <br>
			<label>Password (min. 8 characters)</label> <input type="password" name="password" id="password"> <br>
			<label>Confirm Password</label> <input type="password" name="password_confirm" id="confirm_password"> <br>
			<label>First Name</label> <input type="text" name="name" id="name"> <br>
			<label>Last Name</label> <input type="text" name="surname" id="surname"> <br>
			<label>Date Of Birth (YYYY.MM.DD)</label> <input type="text" name="dob" id="dob" value="1984.12.30"> <br>
			
			<label>Gender</label>
			<select name="gender">
				<option value="m">male</option>
				<option value="w">female</option>
				<option value="u">unspecified</option>
			</select>
			<br>
			  <label>Faculty of</label>
			  <select name="faculty">
				  <option value="Mechanical Engineering">Mechanical Engineering</option>
				  <option value="Process and System Engineering">Process and System Engineering</option>
				  <option value="Electrical Engineering and Information Technology">Electrical Engineering and Information Technology</option>
				  <option value="Computer Science">Computer Science</option>
				  <option value="Mathemathics">Mathemathics</option>
				  <option value="Natural Science">Natural Science</option>
				  <option value="Medicine">Medicine</option>
				  <option value="Humanities, Social Sciences and Education">Humanities, Social Sciences and Education</option>
				  <option value="Economics and Management">Economics and Management</option>
			  </select>

		  <div id="sec_lang">
		  	<label>Choose up to 3 languages</label>
				<select name="lang1">
<!-- 					<option value="None">-</option> -->

					{% for l in lang %}
						<option value= '{{l}}' >{{l}}</option>
					{% endfor %}

				</select>
			</div>

			<div id="thrid_lang">
				<label> </label>
				<select name="lang2">
					<option value="None">-</option>

					{% for l in lang %}
						<option value= '{{l}}' >{{l}}</option>
					{% endfor %}

				</select>
			</div>

			<div>
				<label> </label>
				<select name="lang3">

<!-- 					<option value="None">-</option> -->

					{% for l in lang %}
						<option value= '{{l}}' >{{l}}</option>
					{% endfor %}

				</select>
			</div>

			<textarea placeholder="You can add additional information about yourself, if you really like." class="f_textarea" name="remarks" rows="3"></textarea>

		  <div class="clear"></div>

		  <div class="text_center margin_top_bot"><span class="colorful">Please Choose</span></div>

			<div id="radio_inc" class="radio right margin_top_bot">
				<input type="radio" name="status" value="i">
				Internatio Buddy: I am an international student. I want to get a German buddy in Magdeburg.
			</div>
			<div id="radio_pre" class="radio left margin_top_bot" >
				<input type="radio" name="status" value="p">
				German Buddy: I am a German student and I want to assist international students.
			</div>

			<div id="train" class="right text_right margin_top_bot">
				I know, that I have to visit the training on 28.2.2014 to be part of the buddy program.
				<input type="checkbox" name="training" value="yes" id="train_cb">
			</div>

			<div id="privacy" class="clear right text_right margin_top_bot">
				I accept the <a href="./privacy.html">privacy terms</a> .
				<input type="checkbox" name="privacy" value="yes" id="privacy_cb">
			</div>

			<button class="clear right button_big" name="name" value="Signup" type="submit" id="register_button">Signup</button>

		</form>

	<div class="clear"></div>

</div>

{% endblock %}