{% extends "base.html" %}
{% block content %}

<h1>Buddy Program</h1>

	<div class="info">
		<h3>Information</h3>

		<span class="colorful">Dear incoming international students!</span>
		<p>
				You’re coming to Magdeburg and you need help to find an apartment, open a bank account, register at the Citizens Office or other administrative acts? We offer you to participate in the Buddy Program and to get help from Magdeburg’s students. Participation is free of charge and you do not need to fill any requirements!
		</p>

		<span class="colorful">Dear present students!</span>
		<p>
		 You want to get to know peolpe from all over the globe and want to support international students doing their first steps in Magdeburg? Take part in our Buddy Program from the RIA! You have to speak German and English fluently and a training on the 28.2.2014 is mandatory.
		 </p>

		<span class="colorful">Further Information</span>
		
		<p>
		Check out the <a href="http://ria.stura-md.de/buddy-programm">RIA Website</a>. <br>
		Or write us an email to: <a href="mailto:contact@buddy-md.de">contact@buddy-md.de</a> <br>
		</p>
		<p>
		RIA is the Department for International Affairs (Referat für Internationale Angelegenheiten) from the Students Council at the Otto-von-Guericke University in Magdeburg. We are working voluntarily and are not getting paid.
		</p>
		<span class="colorful">
			The registration will be open until 25.2.2014.
		</span>
		<p>But please register as soon as possible because it makes it easier to plan everything.</p>
	</div>

	{% block right %}{% endblock %}


{% endblock %}