{% extends "index.html" %}
{% block right %}

<div class="reg">
		<h3>Your Registration</h3>
		<div>
			<div>Name: {{ user.name }}</div>
			<div>Surname: {{ user.surname }}</div>
			<div>Email: {{ user.email }}</div>
			<div>Date of Bith: {{ user.dob }}</div>
			<div>Gender: {{ user.gender }}</div>
			<div>Faculty: {{ user.faculty }}</div>
			<div>
				Language: {{ user.lang1 if user.lang1 != None }}
				, {{ user.lang2 if user.lang2 != None }}
				, {{ user.lang3 if user.lang3 != None }}
			</div>
			<div>Remarks: {{ user.remarks if user.remarks != None }}</div>
			<div>Status:
				{% if user.status == 'p' %}
					Present Student
				{% else %}
					Incoming Student
				{% endif %}
			</div>
			<br>
			It is not possible to change your data here. Please write us an Email to <a href="mailto:contact@buddy-md.de">contact@buddy-md.de</a> and we will manually change it for you.
		</div>

		<br>
		<div>Status:
			{% if user.matchable == True %}
				Active. Waiting to get matched.
				<form action="change_matchable" method="post">
					<button class="button_small" type="submit">Deactivate</button>
				</form>
			{% else %}
				Not active. You cannot get matched.
				<form action="change_matchable" method="post">
					<button class="button_small" type="submit">Activate</button>
				</form>
			{% endif %}
		</div>

	<div>
		<span class='colorful'>You do not have a buddy yet.</span>
	</div>
	<div class="clear"></div>

</div>

{% endblock %}