{% extends "base.html" %}
{% block content %}

<!-- Datenschutz

Erhebung und Verarbeitung persönlicher Daten

Personenbezogene Daten sind alle Einzelangaben (Daten), die sich unmittelbar auf eine natürliche Person beziehen, d.h. alle Informationen zu Ihrer Identität, wie beispielsweise Ihr Name, Ihre E-Mail-Adresse.

Ihre Einwilligung

Ohne Ihr ausdrückliches Einverständnis erfolgt keine automatisierte Erhebung, Verarbeitung oder Nutzung personenbezogener Daten aus Ihrem Internet-Besuch. Solche Daten werden nur dann gespeichert, wenn Sie diese uns zur Verfügung stellen und sich beim Buddy-Programm anmelden.

Verwendung Ihrer Daten

Das RIA erhebt, speichert und nutzt Ihre persönlichen Daten nur, um ihnen eine Parter im Rahmen des Buddy-Programms zuzuordnen. Es werden nur die Daten verwendent, die Sie uns bei der Regstrierung angeben. Ihre E-mail-Adresse wird ihrem zugeordneten Partner mitgeteilt, damit sie beide untereinander kommunizieren können.

Cookies

Cookies sind kleine Textdateien, die vom Webserver temporär auf der Festplatte Ihres Computers gespeichert werden. Cookies werden als Teil der Webtechnologie eingesetzt und fügen Ihrem Computersystem keinerlei Schaden zu. Obwohl Cookies den von Ihnen benutzten Computer identifizieren, enthalten Cookies aber keine personenbezogenen Daten, so dass der Schutz Ihrer Privatsphäre gesichert ist. Durch die Konfiguration Ihres Browsers können Sie selbst bestimmen, ob und gegebenenfalls in welcher Weise Sie den Einsatz von Cookies auf Ihrem Computer zulassen. 

Links zu anderen Websites

Die Webseite des RIAs enthält Links zu anderen Websites, auf die sich die vorliegende Datenschutzerklärung jedoch nicht erstreckt. -->

<h1>Privacy Terms</h5>

<h5>Collection and Processing of personal Data</h5>
<p>All the particular information that relate to a natural person is personal data. That means every information about your identity, e.g. name or e-mail address. </p>

<h5>Your acceptance</h5>
<p>There will be no automated collection, processing or usage of personal data without your explicit consent. Your data will only be collected if you register for the Buddy Program. </p>

<h5>Use of your data</h5>
<p>The RIA will only collect, save and use your data to match you to a partner in the Buddy Program. Only the information that you provided at the registration will be used. We will pass your e-mail address on to your future partner, so you will be able to communicate with each other. </p>

<h5>Cookies</h5>
<p>Cookies are small text files that the computer saves on your hard drive temporarily. They are part of  web technology and do not harm your computer. Although they do identify the computer that you use, cookies do not include personal data, so your privacy will be protected. You can determine if and how cookies are used in the settings of your web browser. </p>

<h5>Links to external websites</h5>
<p>These privacy protection terms do not apply to external websites that are listed with links on the RIA homepage.
Security</p>

<form action="./" method="get">
 	<button class="button_big" type="submit">Back</button>
</form>

{% endblock %}