{% extends "base.html" %}
{% block content %}

<div class="content">
Datenschutz

Datenschutz und Privatsphäre haben beim RIA oberste Priorität. Wir versichern Ihnen, dass wir mit Ihren Daten sorgfältig, den gesetzlichen Bestimmungen entsprechend, umgehen. Ihre persönlichen Daten werden nicht an unternehmensfremde Dritte zur Verwertung weitergegeben.

Erhebung und Verarbeitung persönlicher Daten

Personenbezogene Daten sind alle Einzelangaben (Daten), die sich unmittelbar auf eine natürliche Person beziehen, d.h. alle Informationen zu Ihrer Identität, wie beispielsweise Ihr Name, Ihre E-Mail-Adresse.

Ihre Einwilligung

Ohne Ihr ausdrückliches Einverständnis erfolgt keine automatisierte Erhebung, Verarbeitung oder Nutzung personenbezogener Daten aus Ihrem Internet-Besuch. Solche Daten werden nur dann gespeichert, wenn Sie diese Open Source Press zur Verfügung stellen und sich beim Buddy-Programm anmelden.

Verwendung Ihrer Daten

Das RIA erhebt, speichert und nutzt Ihre persönlichen Daten nur, um ihnen eine Parter im Rahmen des Buddy-Programms zuzuordnen. Es werden nur die Daten verwendent, die Sie uns bei der Regstrierung angeben. Ihre E-mail-Adresse wird ihrem zugeordneten Partner mitgeteilt, damit sie beide untereinander Kommunizieren können.

Cookies

Cookies sind kleine Textdateien, die vom Webserver temporär auf der Festplatte Ihres Computers gespeichert werden. Cookies werden als Teil der Webtechnologie eingesetzt und fügen Ihrem Computersystem keinerlei Schaden zu. Obwohl Cookies den von Ihnen benutzten Computer identifizieren, enthalten Cookies aber keine personenbezogenen Daten, so dass der Schutz Ihrer Privatsphäre gesichert ist. Durch die Konfiguration Ihres Browsers können Sie selbst bestimmen, ob und gegebenenfalls in welcher Weise Sie den Einsatz von Cookies auf Ihrem Computer zulassen. 

Links zu anderen Websites

Die Webseite des RIAs enthält Links zu anderen Websites, auf die sich die vorliegende Datenschutzerklärung jedoch nicht erstreckt.

Sicherheit

Das RIA trifft, in Übereinstimmung mit den gesetzlichen Datenschutzbestimmungen der Bundesrepublik Deutschland, Vorkehrungen, Ihre personenbezogenen Daten vor Verlust, Zerstörung, Verfälschung, Manipulation und unberechtigtem Zugriff zu schützen.

</div>

{% endblock %}